.flashing {
  animation: flashing-item 0.5s 1 ease;
  animation-iteration-count: 5;
}
.flashing-layout-right {
  animation: 0.5s ease-out none flashing-item-light, 0.5s ease none layout-right;
  animation-delay: 1s;
  animation-iteration-count: 5;
}
.flashing-alert {
  animation: 0.5s ease-out none flashing-item-light, 0.5s ease none alert;
  animation-iteration-count: 5;
}
.tab-container {
  .el-tab-pane {
    animation: fade 0.5s ease;
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: translateX(100%);
    }

    to {
      opacity: 1;
    }
  }
}
@keyframes alert {
  0% {
  }
  10% {
    background-color: #ff0000;
  }
  90% {
    background-color: #ff0000;
  }
  100% {
  }
}
@keyframes layout-right {
  0% {
    right: 0;
  }
  55% {
  }
  100% {
  }
}
@keyframes flashing-item {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.12;
  }
  90% {
    opacity: 0.12;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing-item-light {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.12;
    right: 0;
  }
  100% {
    opacity: 1;
    right: 1;
  }
}
