@mixin common($color: #4a9fff) {
  background-color: #1a237e3f !important;
  color: $color !important;
}
@mixin hover_highlight(){
  &:hover{
    background-color: #ffffff8f;
  }
}
.styled-primary-card {
  position: relative;
  @include common();
  &:hover {
    .right-button {
      right: 0.5rem;
    }
  }
}
.styled-primary-dialog {
  .el-dialog {
    background-color: #1a237eff !important;
  }
  .el-dialog__body {
    @include common();
  }
  .el-dialog__header {
    @include common();
  }
}
.styled-primary-table{
  .el-table{
    background-color: #1a237eff !important;
  }
  &.el-table tr{
    background-color: #1a237eff !important;
  }
  .el-table__cell{
    @include common();
  }
  .el-table__expanded-cell{
    @include common();
  }
}
.styled-primary-pagination {
  .el-pagination {
    span {
      color: #4a9fff !important;
    }
    button {
      @include common();
    }
    ul {
      @include common();
    }
    .active {
      background-color: #2279eb !important;
    }
    li {
      @include common();
    }
    input {
      @include common();
    }
  }
}
