@import "./base-var.scss";
@import "./media.scss";
li {
  list-style: none;
}
/* 声明字体*/
@font-face {
  font-family: electronicFont;
  src: url(~@/assets/dashboard/fonts/DS-DIGIT.TTF);
}


%base-bar-pseudo {
  content: "";
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
}
