@import "./title.scss";
.container {
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 2px,
      transparent 0
    ),
    linear-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 0);
  background-color: rgb(11, 1, 46);
  background-size: 20px 20px;
  height: 100%;
  width: 100%;
  position: fixed;
  user-select: none;
}
